.daily-view-title {
    padding-left: 2em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-weight: bold !important;
    color: black;
    text-align: left;
}

.daily-view-body {
    overflow-y: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.scrollable-cards {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.no-meetups-text {
    padding-left: 2em;
    margin-top: 24px;
    text-align: center;
    font-size: 1.1rem;
    color: gray;
}