
.container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

.btn {
  background-color: #202020;
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
}

.title {
  margin: 0px;
}

.inputField {
  width: 80%; /* Breite des Input-Felds */
  max-width: 400px; /* Optional: maximale Breite */
  padding: 10px; /* Innenabstand für größere Felder */
  font-size: 1rem; /* Schriftgröße */
  background-color: #f0f0f0; /* Hintergrundfarbe */
  border: 1px solid #ccc; /* Rahmenfarbe */
  border-radius: 5px; /* Abgerundete Ecken */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Optional: leichter Schatten */
}

.inputField:focus {
  outline: none; /* Entfernt den Standard-Fokusrahmen */
  border-color: #49b759; /* Rahmenfarbe bei Fokus */
  box-shadow: 0 0 5px rgba(73, 183, 89, 0.5); /* Optional: Leuchtender Effekt bei Fokus */
}
